.nav-tabs .nav-link.active {
  border-top: 4px solid #96DD3B;
}
.nav-tabs .nav-link {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#dashboard_greeting {
  text-align: center;
  margin: 20px 0px;
  font-size: 22px;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
}

.nav-icons {
  display:flex;
  justify-content: space-between;
}

.avatar-profile {
  display: flex;
  justify-content: center;
}

.avatar-large {
  width: 64px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

