.nav-tabs .nav-link.active {
  border-top: 4px solid #96DD3B;
}
.nav-tabs .nav-link {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#dashboard_greeting {
  text-align: center;
  margin: 20px 0px;
  font-size: 22px;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
}

.nav-icons {
  display:flex;
  justify-content: space-between;
}

.avatar-profile {
  display: flex;
  justify-content: center;
}

.avatar-large {
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.tab-style {
  margin: 10px;
  padding-top:10px;
}


// CARD

.card-product {
  overflow: hidden;
  height: 10rem;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-decoration:none;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  color: black;
}
