#event-show {
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.1);
  padding: 29px 28px 12px 29px;
  text-align: center;
  background-color: white;
  margin-top: 8px;
}

#btn-form input {
  text-align:center;
  color:white;
  font-size: 25px;
  margin-top: 25px;
  padding: 8px 24px;
  background-color: #E86C60;
}

#new_attendance {
  display:flex;
  justify-content:center;
}

.unattend_button{
  // margin: auto;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.event-header{
  margin-top: -16px;
  margin-bottom: 10px;
}

.event-picture {
  height: 185px;
  width: 80vw;
  box-shadow: 10px 9px 9px rgba(0, 0, 0, 0.2);
}

.event-description {
  margin-top: 21px;
}






















