#event-show {
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.1);
  padding: 29px;
  text-align: center;
  margin-top: 45px;
  background-color: white;
}

#btn-form input {
  text-align:center;
  color:white;
  font-size: 25px;
  margin-top: 25px;
  padding: 8px 24px;
  background-color: #E86C60;
}

#new_attendance {
  display:flex;
  justify-content:center;
}
