.all-events{
  display: flex;
  flex-direction: column;
}

.all-events a{
  text-decoration:none;

}


.tab-style-event {
  margin: 12px;
  padding-top:0px;
}

#events-title {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.tel-aviv2{
  text-align: center;
  font-size: 24px;
  font-weight: bolder;

  line-height: 1.1em;
  display: inline-block;


}

.highlight{
    border-radius: 3px;
    background-color: #efffdb;
    padding: 2px 9px 4px;
    color: #85c92c;

}

 #right_arrow_event{
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 24px;
 }

 #green_splash{
  height: 182px;
  width: 150px;
  opacity: .4;
  position: absolute;
  bottom: -13px;
  right: -53px;
 }
.card-product-infos-events p{
  font-weight: bolder;
  color: black;
  font-size: 14px !important;
}
.card-product-infos-events h2{
  font-size: 16px !important;
  font-weight: bolder;
}
.card-product-infos-events{
  color: black;
  // position: relative;
}
.card-product-event .card-product-infos-events {
  padding: 16px;
}

.card-product-event {
  overflow: hidden;
  height: 10rem;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-decoration:none;
  position: relative;
  border-radius: 4px
}

.card-product-event img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-event h2 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

.card-product-event p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: bolder;
}

.second-event-title{
  font-weight: bold;
  font-size:20px;
  text-align: center;
}
