.all-events{
  display: flex;
  flex-direction: column;
}

.all-events a{
  text-decoration:none;
}


.tab-style {
  margin: 10px;
  padding-top:10px;
}

#events-title {
  font-size: 23px;
  text-align: center
}
