.change_border {
  .round_icon {
  background-color: #87c635;
  transition: background-color .3s;
  border-radius: 50%;
    .white {
      filter: invert(50%);
      transition: .5s;
    }
  }
}
//----------------------------------header

.new_report_banner {
  display: flex;
  justify-content: space-between;
}

.progress_bar {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  margin-top: 20px;
}

.progress_bar_1 {
  height: 1.5vh;
  width: 1.5vh;
  background-color: #96DD3B;
  border-radius: 50%;
}

.progress_bar_11 {
  height: 1.5vh;
  width: 1.5vh;
  background-color: #96DD3B;
  border-radius: 50%;
  margin-left: 13px;
}

.progress_bar_2 {
  height: 1.5vh;
  width: 1.5vh;
  margin-left: 3px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin-left: 13px;
}

.cancel_icon {
  height: 37px;
  margin-top: 11px;
  margin-right: 10px;
}

.arrow_left_icon {
  height: 47px;
  margin-top: 6px;
}

//------------------------------------- next/create button

.next_button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.next_text {
  text-align:center;
  background-color: #96DD3B;
  padding: 9px 60px;
  border-radius: 5px;
}

.create_button_div {
  margin-top: 20px;
  margin-bottom: 20px;
  display:flex;
  justify-content:center;
}

.create_button {
  text-align:center;
  background-color: #96DD3B;
  padding: 9px 60px;
  border-radius: 5px;
}
// ------------------------------------ page 1


.round_icon {
  width: 100px;
  height: 100px;
  background-color: #96DD3B;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
}

.center_icon_text {
  text-align: center;
  font-weight: bold;
}
.category_row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.road_block_icon {
  height: 58px;
}

.pothole_icon {
  height: 58px;
}

.header-category-selection{
  text-align:center;
  margin-bottom: 21px;
}

.street_light {
  height:69px;
}

.exterminate_icon {
    height: 42px;
}

.other_icon {
  height: 70px;
}

.report_category {
  padding: 5px;
}

// ------------------------------------ page 2

.new_report_container_page_2 {
  margin-top: 100px;
}

.picture_row_1 {
  text-align: center;
  margin-top: 10px;
}

.optional_section {
  opacity: .4;
}

.camera_icon {
  margin-top: 50px;
  background-color: #E0E0E0;
  height: 145px;
  padding: 20px;
  border-radius: 15px;
}

// --------------------------------page 3

.description_row_1 {
  text-align: center;
  margin-top: 20px;
}

#input-description-box {
  width: 328px;
  margin: 30px;
  height: 145px;
}

//---------------------------------page 4

.mark-map-report {
  display: flex;
  justify-content: space-around;
}













