.change_border {
  .round_icon {
  background-color: #87c635;
  transition: background-color .1s;
  border-radius: 50%;
    .white {
      filter: invert(100%);
    }
  }
}
//----------------------------------header

.new_report_banner {
  display: flex;
  justify-content: space-between;
}

.progress_bar {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  margin-top: 20px;
}

.progress_bar_1 {
  height: 1.5vh;
  width: 1.5vh;
  background-color: #96DD3B;
  border-radius: 50%;
}

.progress_bar_11 {
  height: 1.5vh;
  width: 1.5vh;
  background-color: #96DD3B;
  border-radius: 50%;
  margin-left: 13px;
}

.progress_bar_2 {
  height: 1.5vh;
  width: 1.5vh;
  margin-left: 3px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin-left: 13px;
}

.cancel_icon {
  height: 37px;
  margin-top: 11px;
  margin-right: 10px;
}

.arrow_left_icon {
  height: 47px;
  margin-top: 6px;
}

//------------------------------------- next/create button


.next_text {
  text-align: center;
  background-color: transparent;
  color: black;
  border: solid 2px;
  padding: 9px 60px;
  border-radius: 4px;
  position: relative;
}

.next_text:hover{
  text-decoration: none;
}


.next_text:active {
  background-color: #96DD3B;
  transition: 0.1s;
  color: white;
  border-color: #96DD3B;
  top: 2px;

}

.create_button_div {
  margin-top: 20px;
  margin-bottom: 20px;
  display:flex;
  justify-content:center;
}

.create_button {
  text-align:center;
  background-color: #96DD3B;
  padding: 9px 60px;
  border-radius: 5px;
}
// ------------------------------------ page 1

*, *::before, *::after {
    box-sizing: content-box;
}

.round_icon {
  width: 70px;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.round_icon {
      border-radius: 50%;
      border: solid 2px #87c635;
    }

    .round_icon:after{
      display: block;
      font-size: 30px;
      height: 30px;
      text-decoration: none;
      width: 30px;
    }

    .round_icon:active{
      // box-shadow: 0 2px 5px 0 #87c635;
      // border: solid 2px #87c635;
    }


.center_icon_text {
  text-align: center;
  font-weight: bold;
}

.category_row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.road_block_icon {
  height: 48px;
}

.pothole_icon {
  height: 48px;
}

.header-category-selection{
  text-align:center;
  margin-bottom: 21px;
}

.street_light {
  height: 48px;
}

.exterminate_icon {
  height: 36px;
}

.other_icon {
  height: 48px;
}

img.trash_can_icon.white {
  height: 48px;
}

.report_category {
  padding: 5px;
}

.next_button_1 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
// ------------------------------------ page 2


.picture_row_1 {
  text-align: center;
}

.picture_row_2 {
  text-align: center;
  margin-top:120px;
}

.optional_section {
  opacity: .4;
}

.camera_icon {
  margin-top: 50px;
  background-color: #E0E0E0;
  height: 145px;
  padding: 20px;
  border-radius: 15px;
}

.next_button_2 {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

// --------------------------------page 3

.description_row_1 {
  text-align: center;
}

#input-description-box {
  width: 328px;
  margin: auto;
  height: 145px;
}

.next_button_3 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

//---------------------------------page 4

.mark-map-report {
  display: flex;
  justify-content: space-around;
}













