.mapboxgl-popup {
  max-width: 300px !important;
  max-height: 175px !important;
  background-color: transparent !important;
}

.mapboxgl-popup-content {
  text-align: left;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

a.mapboxgl-ctrl-logo{
    display: none !important;
}

///////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.product-card {
  background: #fafafa;
  display: flex;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  border-bottom: solid 8px #96DD3B;

}



.product-tumb  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tumb img {
    height: 200px;
    width: 125px;
}


.product-details {
  text-align: left;
  max-height: 200px !important;
}

.product-category {
    font-size: 12px;
    font-weight: 700;
    color: #ccc;

}

.card-category-organize{
  display: flex;
  margin-top: 7px;
  align-items: center;
  justify-content: space-around;

}

.product-details h3 {
  font-weight: 500;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  font-size: 12px;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    color: black;
    position: relative;
}

.product-bottom-details {
    overflow: hidden;

    border-top: 1px solid #eee;
}

.upvotes {
  display:flex;
  align-items:center;
  justify-content: space-between;
  position: absolute;
  bottom: 6px;
  right: 10px;

}

.upvote_number{
  position: absolute;
  bottom:-1px;
  left: -20px;
}

// .product-bottom-details div {
//     float: left;
//     width: 50%;
// }

.product-upvote {
    font-size: 15px;
    line-height: 22px;
    color: #999;
}

.mapboxgl-popup-close-button {
  font-size: 0px;
  color: transparent;
}

i#thumbsup {
  font-size: 24px;
  float: right;
}
////////Like Button////////////
.like
{
  display: inline-block;
  cursor: pointer;

  &.can-vote:hover {
    color: #96DD3B;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

  &.can-vote.active {
    color: #96DD3B;
  }
}

.icon_image_popup {
  height: 35px;
  width: 40px;

}

.card-image {
  // object-fit: cover;
  background-size:cover
}
