.mapboxgl-popup {
  max-width: 300px;
  background-color: transparent !important;
}

.mapboxgl-popup-content {
  text-align: left;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}


a.mapboxgl-ctrl-logo{
    display: none !important;
}

///////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.product-card {
  background: #fafafa;
  border: solid 2px #41403E;
  border-radius: 18px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

p.card-address {
  text-align: center;
}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0px 0px;
}

.product-details {
  padding: 12px;
  margin-top: -21px;

}

.product-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 8px;
}

.product-details h3 {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  font-size: 12px;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #999;
    position: relative;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-upvote {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #999;
}

.mapboxgl-popup-close-button {
  font-size: 18px;
  color: white;
}

i#thumbsup {
  font-size: 24px;
  float: right;
}

.like,
{
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: #2EBDD1;
}

.icon_image_popup {
  height: 35px;
  width: 35px;
  // border: solid;
  // border-color: black;
  // border-width: 1px;
  // filter: invert(100%);
  position: absolute;
  top: 12px;
  left: 12px;
}
