<div class="confirmation-text">
  <div class="confirmation-body">
    <h1>Thank You!</h1>
    <h3>your report has been submitted</h3>
    <%= image_tag 'world.svg'%>
    <h5>view the status of your report from</h5>
    <%= link_to "Back To Home", root_path %>
  </div>
</div>
