<div class="new_report_container">
  <div class="new_report_row_1">
    <%= image_tag("icons/arrow_left_2.png", :alt => "arrow left") %>
    <ul class="progress_bar">
      <li class="progress_bar_1_1"></li>
      <li class="progress_bar_1_2"></li>
      <li class="progress_bar_1_2"></li>
      <li class="progress_bar_1_2"></li>
      <li class="progress_bar_1_2"></li>
    </ul>
    <%= image_tag("icons/cancel_2.png", :alt => "cancel", class: "cancel_icon") %>
  </div>

  <div class="catagory_row_2">
    <div class="road_block_icon">
      <%= image_tag("icons/road_block.png", :alt => "cancel") %>
      <p>Road Block</p>
    </div>
    <div class="trash_can_icon">
      <%= image_tag("icons/road_block.png", :alt => "cancel") %>
      <p>Trash</p>
    </div>
  </div>
  <div class="catagory_row_1">

  </div>
</div>
